<!DOCTYPE html>
<html lang="en" ng-app="professoresModulo">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">

<link rel="icon" href="imagens/favicon.ico">

<title>Tabela de professores</title>

<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/estilos.css" rel="stylesheet">
<link href="css/carousel.css" rel="stylesheet">
<script src="js/angular.min.js"></script>
<script src="controller/professores.js"></script>
</head>

<!-- NAVBAR ================================================== -->
<body ng-controller="professoresController">

	<div ng-include src="'menus.html'"></div>

	<div class="container">
		<!-- Nav tabs -->
		<h1 align="center">Lista e cadastro de Professores</h1>
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#lista"
				aria-controls="lista" role="tab" data-toggle="tab">Lista de
					Professores</a></li>
			<li role="presentation"><a href="#cadastro"
				aria-controls="cadastro" role="tab" data-toggle="tab">Cadastro
					de Professores</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="lista">
				<div class="container">
					<br> <label>Pesquisa de Professores: </label> <input
						type="text" ng-model="pesquisaProfessor" id="pesquisa"
						placeholder="Digite a pesquisa"> <br> <br>
					<table class="table table-striped table-hover">
						<th>Codigo</th>
						<th>Nome</th>
						<th>Email</th>
						<th>Celular</th>
						<tr
							ng-repeat="professoresTabela in professores | filter:pesquisaProfessor"
							ng-click="selecionaProfessor(professoresTabela)">
							<td>{{professoresTabela.codigo}}</td>
							<td>{{professoresTabela.nome}}</td>
							<td>{{professoresTabela.email}}</td>
							<td>{{professoresTabela.celular}}</td>
						</tr>
					</table>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="cadastro">
				<form class="form-horizontal">
					<br>
					<div class="form-group">
						<label for="codigo">Codigo</label> <input type="text" required
							ng-model="professor.codigo" class="form-control" id="codigo"
							placeholder="Codigo">
					</div>
					<div class="form-group">
						<label for="nome">Nome</label> <input type="text" required
							ng-model="professor.nome" class="form-control" id="nome"
							placeholder="Nome">
					</div>
					<div class="form-group">
						<label for="email">Email</label> <input type="email"
							ng-model="professor.email" class="form-control" id="email"
							placeholder="Email">
					</div>
					<div class="form-group">
						<label for="celular">Celular</label> <input type="text"
							ng-model="professor.celular" class="form-control" id="celular"
							placeholder="Celular">
					</div>
					<br>
					<div align="center" class="form-group">
						<button type="submit" ng-click="limparCampos()"
							class="btn btn-success">Novo</button>
						<button type="submit" ng-disabled="!professor.nome"
							ng-click="salvar()" class="btn btn-primary">Salvar</button>
						<button type="submit" ng-click="excluir()" class="btn btn-danger">Excluir</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<br>
	<footer>
		<p class="pull-right">
			<a href="#">Back to top</a>
		</p>
		<p>
			&copy; 2021 Movi Gaming, Inc. &middot; <a href="#">Privacy</a>
			&middot; <a href="#">Terms</a>
		</p>
	</footer>

	<!-- Bootstrap core JavaScript
		================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
